In [1]:
# Import necessary libraries
import spacy
import pandas as pd
from fuzzywuzzy import fuzz
import camelot

# Initialize NLP model and extract entities from PDF table
nlp = spacy.load('en_core_web_sm')

c:\Users\Admin\AppData\Local\Programs\Python\Python39\lib\site-packages\requests\__init__.py:102: RequestsDependencyWarning: urllib3 (1.26.13) or chardet (5.1.0)/charset_normalizer (2.0.12) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({})/charset_normalizer ({}) doesn't match a supported "
c:\Users\Admin\AppData\Local\Programs\Python\Python39\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [2]:
def extract_pdf_data_as_dataframe(file_name): 
    
    extracted_df_dict = {}
    extracted_raw_data_from_pdf = camelot.read_pdf(file_name, flavor='stream', pages='all')
    for i in range(extracted_raw_data_from_pdf.n):
        key_name = str(i)+'_dataframe_pdf_extracted'
        extracted_df_dict[key_name] = extracted_raw_data_from_pdf[i].df
    
    return extracted_df_dict

In [3]:
data_1 = extract_pdf_data_as_dataframe('test.pdf')

In [4]:
data_1['1_dataframe_pdf_extracted']

,0,1,2,3,4,5,6
0,Transaction,,,,,,Running
1,,Value Date,Narration,Debit,,Credit,
2,Date,,,,,,Balance
3,,,SDM DEPOSIT CRSDM REF.-,,,,
4,,,E4010262231252450;MIZHER,,,,
5,05-05-2023,05-05-2023,MALL BRANCH,,0.00,"1,100.00","195,655.66"
6,,,SDME4010262231252450 -,,,,
7,,,AE1235914,,,,
8,,,SDM DEPOSIT CRSDM REF.-,,,,
9,,,E4010262231252446;MIZHER,,,,
10,05-05-2023,05-05-2023,MALL BRANCH,,0.00,"43,900.00","194,555.66"
11,,,SDME4010262231252446 -,,,,
12,,,AE1235232,,,,
13,,,INWARD REMITTANCETT REF:,,,,
14,,,AE1RCXT23125024Z AED,,,,
15,,,14542.5 LENOVO /SINGA,,,,
16,05-05-2023,05-05-2023,,,0.00,"14,542.50","150,655.66"
17,,,PORE/ PTE LTD STAR HOL,,,,
18,,,/REF/29POE 25-83123579-1-151,,,,
19,,,- AE0453710,,,,

In [26]:
data['2_dataframe_pdf_extracted'][0][1] = data['2_dataframe_pdf_extracted'][0][0] + ' ' +  data['2_dataframe_pdf_extracted'][0][2]
data['2_dataframe_pdf_extracted'][6][1] = data['2_dataframe_pdf_extracted'][6][0] + ' ' +  data['2_dataframe_pdf_extracted'][6][2]

In [27]:
data['2_dataframe_pdf_extracted'] = data['2_dataframe_pdf_extracted'].drop(index=[0,2])
data['2_dataframe_pdf_extracted'][4][1] = data['2_dataframe_pdf_extracted'][3][1]
data['2_dataframe_pdf_extracted'] = data['2_dataframe_pdf_extracted'].drop([3], axis=1)

In [28]:
data['2_dataframe_pdf_extracted']

,0,1,2,4,5,6
1,Transaction Date,Value Date,Narration,Debit,Credit,Running Balance
3,,,SB-TRANSFERSB REF.,,,
4,,,31935888 B/O NETWORK,,,
5,05-05-2023,05-05-2023,INTERNATIONAL LLC NI POS,0.00,"8,706.84","136,113.16"
6,,,SETT 040523 130437015,,,
7,,,134057237 - S05788242,,,
8,,,INWARD REMITTANCETT REF:,,,
9,,,AEA050535QBB0R9C AED,,,
10,,,955.5 CATERPILLAR SAR L,,,
11,,,/REF/AEA050535QBB0R9C,,,
12,05-05-2023,05-05-2023,,0.00,955.50,"127,406.32"
13,,,3345200 012079 02023,,,
14,,,/OBO/CATERPILLAR 25-,,,
15,,,83042380-1-152 - AE0063354,,,
16,,,SDM DEPOSIT CRSDM REF.-,,,
17,,,E4010979231250812;AL,,,
18,05-05-2023,05-05-2023,FAHEEDI BRANCH SDM 2,0.00,"2,000.00","126,450.82"
19,,,SDME4010979231250812 -,,,
20,,,AE0040172,,,

In [29]:
new_header = data['2_dataframe_pdf_extracted'].iloc[0] #grab the first row for the header
df = data['2_dataframe_pdf_extracted'][1:] #take the data less the header row
df.columns = new_header #set the header row as the df header

In [37]:
df

1,Transaction Date,Value Date,Narration,Debit,Credit,Running Balance
3,,,SB-TRANSFERSB REF.,,,
4,,,31935888 B/O NETWORK,,,
5,05-05-2023,05-05-2023,INTERNATIONAL LLC NI POS,0.00,"8,706.84","136,113.16"
6,,,SETT 040523 130437015,,,
7,,,134057237 - S05788242,,,
8,,,INWARD REMITTANCETT REF:,,,
9,,,AEA050535QBB0R9C AED,,,
10,,,955.5 CATERPILLAR SAR L,,,
11,,,/REF/AEA050535QBB0R9C,,,
12,05-05-2023,05-05-2023,,0.00,955.50,"127,406.32"
13,,,3345200 012079 02023,,,
14,,,/OBO/CATERPILLAR 25-,,,
15,,,83042380-1-152 - AE0063354,,,
16,,,SDM DEPOSIT CRSDM REF.-,,,
17,,,E4010979231250812;AL,,,
18,05-05-2023,05-05-2023,FAHEEDI BRANCH SDM 2,0.00,"2,000.00","126,450.82"
19,,,SDME4010979231250812 -,,,
20,,,AE0040172,,,

In [12]:
pdf_archive = camelot.read_pdf('test.pdf', pages="all", flavor="stream")

for page, pdf_table in enumerate(pdf_archive):           
    print(pdf_archive[page].df.head())
    print(page.bit_length)

                     0              1                                       2
0                                                           Account Statement
1                           Generated            06 May 2023\nby\narun  kumar
2  Account Information
3       Account Number  1011238868801  Account Name\nCLASSIC LUXURY TRANSPORT
4                                                                         LLC
<built-in method bit_length of int object at 0x000001F25CDF6910>
             0           1                         2      3 4       5        6
0  Transaction                                                         Running
1               Value Date                 Narration  Debit    Credit
2         Date                                                         Balance
3                            SDM DEPOSIT CRSDM REF.-
4                           E4010262231252450;MIZHER
<built-in method bit_length of int object at 0x000001F25CDF6930>
             0           1                     2      3 4       5        6
0  Transaction                                                     Running
1               Value Date             Narration  Debit    Credit
2         Date                                                     Balance
3                             SB-TRANSFERSB REF.
4                           31935888 B/O NETWORK
<built-in method bit_length of int object at 0x000001F25CDF6950>